button,
select {
  cursor: pointer;
}

button,
select,
input[type="number"],
input[type="search"] {
  background-color: var(--input-background-color);
  border-radius: var(--border-radius-extra-small);
  border: none;
  outline: none;
}

button,
select,
input[type="number"] {
  text-align: center;
}

@media (hover: hover) {
  select:hover,
  input[type="number"]:hover,
  input[type="search"]:hover,
  button:hover {
    outline: var(--border-width-small) solid var(--text-color);
  }
}

select:focus,
input[type="number"]:focus,
input[type="search"]:focus,
button:active,
button:focus-visible {
  outline: var(--border-width-small) solid var(--text-color);
}

label,
h3,
p,
input[type="number"],
select,
button,
.button-wrapper,
input[type="search"] {
  margin-bottom: var(--spacing-0);
}

.calculator-field-wrapper:last-child {
  input[type="number"],
  p,
  label {
    margin-bottom: 0;
  }
}

select,
#reset-calculator,
input[type="search"] {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
