button {
  cursor: pointer;
  background-color: var(--input-background-color);
  border-radius: var(--border-radius-extra-small);
  border: none;
  outline: none;
  padding: var(--spacing-0) var(--spacing-1);
  text-align: center;
}

button:active,
button:focus-visible {
  outline: var(--border-width-small) solid var(--text-color);
}

@media (hover: hover) {
  button:hover {
    outline: var(--border-width-small) solid var(--text-color);
  }
}

#reset-calculator {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
