button {
  padding: var(--spacing-0) var(--spacing-1);
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-0);

  .max-button {
    justify-self: center;
    width: 100%;
    margin: 0;
    padding: 0 var(--spacing-1);
  }
}
