button {
  padding: var(--spacing-0) var(--spacing-1);
}

.button-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: var(--spacing-0);

  .max-button {
    width: 100%;
    margin: 0;
    padding: 0 var(--spacing-1);
  }

  .level-button {
    padding: 0;
  }

  .level-button:last-child {
    margin-left: var(--spacing-0);
  }
}

.button-wrapper:last-child {
  margin-bottom: 0;
}
