label {
  margin-left: var(--spacing-1);
}

h3,
p {
  cursor: default;
}

.field-group:last-child {
  h3 {
    text-align: center;
    font-size: 1.25rem;
  }
}

.button-wrapper-label {
  display: block;
  text-align: left;
}
