label {
  margin-bottom: var(--spacing-0);
  // margin-left: var(--spacing-0);
  margin-left: var(--spacing-1);
}

.calculator-field-wrapper:last-child {
  label {
    margin-bottom: 0;
  }
}

// .field-group:last-child {
//   .calculator-field-wrapper {
//     label {
//       margin-left: var(--spacing-1);
//     }
//   }
// }
