.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  .sidebar-container {
    // a <nav> element
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;

    .sidebar {
      // a <ul> element
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      width: 100%;

      .sidebar-item {
        // an <li> element
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.03);
        width: 33.33333333333%;
        box-shadow: 0px -10px 5px -5px rgba(0, 0, 0, 0.2) inset;

        a {
          // a <Link> component
          margin: 0;
          text-align: center;
          text-decoration: none;
          padding: 10px;
        }
      }

      .sidebar-spacer {
        // an <li> element - empty list item for formatting
        display: none;
      }

      .active {
        // an <li> element - active
        background-color: #fff;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2), 5px 0 5px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
}

@media (min-width: 650px) {
  .main-container {
    flex-direction: row;
    width: fit-content;
    margin: auto;

    .sidebar-container {
      width: fit-content;

      .sidebar {
        width: max-content;
        height: 100%;
        flex-direction: column;

        .sidebar-item {
          width: auto;
          box-shadow: -10px 0px 5px -5px rgba(0, 0, 0, 0.2) inset;

          a {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }

        .sidebar-spacer {
          display: list-item;
          flex: 1 1 auto;
        }

        .active {
          box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2),
            0px 5px 5px rgba(0, 0, 0, 0.2);
          border-top-right-radius: 0;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  // if the screen with is less than 320 px, make the navigation tabs text wrap onto 2 lines instead of staying on 1
  .main-container {
    .sidebar-container {
      .sidebar {
        .sidebar-item {
          a {
            width: min-content;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}
