input[type="number"] {
  background-color: var(--input-background-color);
  border-radius: var(--border-radius-extra-small);
  border: none;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: var(--spacing-0);
  text-align: center;
  width: max-content;
}

input[type="number"]:focus,
input[type="number"]:hover {
  outline: var(--border-width-small) solid var(--text-color);
}

.calculator-field-wrapper:last-child {
  input[type="number"] {
    margin-bottom: 0;
  }
}

.field-group:last-child {
  .calculator-field-wrapper {
    input[type="number"] {
      outline: none;
      cursor: default;
      background-color: var(--main-background-color);
      font-weight: bold;
      padding: 0;
    }
  }
}

/***** https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp *****/
/* hide arrows in the number input field */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
/* hide the arrows in the number input field for firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
