html {
  margin: 0;
  width: 100%;
  font-size: 10.5px;
}

@media (min-width: 350px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 450px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  // --spacing-2: 10px;
  // --spacing-3: 20px;
  // --spacing-2: 0.625rem;
  // --spacing-3: 1.25rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
}

a,
button,
select,
h3 {
  display: block;
}

input,
label,
p {
  display: inline-block;
}

h3,
p {
  margin: 0;
}

a,
button,
select,
input,
label,
h3,
p {
  font-size: 1rem;
}
